<div class="apple_pagination"><%= will_paginate %></div>
<div class="deals">
<% @deals.each do |deal| %>
	<div class="deal">
		<div class="intro"><%= deal.intro %></div>
		<div class="image">
			<%= link_to deal.url do%>
				<img src="<%= deal.image %>" width="300" height="200" />
			<% end %>
		</div>
		<div class="price"><%= deal.price %></div>
	</div>
<% end %>
</div>

<div class="footer">
	<%= link_to 'New Deal', new_deal_path %>
	<%= link_to 'View Task', resque_server_path %>
</div>
